<div class="col-xl-12 col-lg-12 mb-4">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Verify Users</h6>
            <a class="m-0 float-right btn btn-danger btn-sm" href="#">Get Insiigts <i
                    class="fas fa-chevron-right"></i></a>
        </div>
        <div class="row" style="padding: 50px;">
            <div class="col-xs-12 col-md-6">
                <app-webcam (pictureTaken)="handleImage($event)"></app-webcam>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="snapshot" *ngIf="webcamImage && !apifetched">
                    <img [src]="webcamImage.imageAsDataUrl" download="./Images/currentuser.jpeg" width="400"
                        height="300" />
                </div>
                <div class="snapshot" *ngIf="apifetched">
                    <img [src]="imageUrl" width="400" height="300" />
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-6 text-center">
                <!-- <input [(ngModel)]="ticket" type="text" placeholder="Ticket Number" /> <br> -->
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <input style="text-align: center;" type="text" class="form-control form-control-sm"
                        [(ngModel)]="ticket" aria-describedby="emailHelp" placeholder="Enter Ticket Id">
                    <small id="emailHelp" class="form-text text-muted">Ticket ID Assigned to you goes here</small>
                </div>
                <button *ngIf="webcamImage" type="submit" class="btn btn-primary" (click)="verifyUser()">Verify
                    Me</button>
            </div>
            <div class="col-md-6 text-center">
                <button *ngIf="webcamImage" type="submit" class="btn btn-primary" (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>