
<div class="row">
    <div class="col-sm-7 image-section">
        <img src="../../assets/img/Hospital.jpg" class="image-style">
        <img src="../../assets/img/login-bottom.png" class="image-style">
    </div>
    <div class="col-sm-5 login-panel">
        <div class="row">
           <img src="../../assets/logo.png" style="width:140px;height:145px;padding:8px;margin-left:112px;">
        </div>
        <div class="row" >
          <h4 style="padding-left: 140px;">Impulse</h4><br><br>
        </div>
        <div class="row" >
            <h5 style="padding-left: 99px;">Hospital Dashboard</h5><br>
          </div>
        <div class="text-lg-center" style="margin-bottom:15px;font-size: 20px;">
         <label>Login</label>
        </div>
          <div class="row">
             <div class="col-sm-12">
              
                  <input type="text" class="input-field"  [(ngModel)]="username" placeholder="Enter Username"> 
               
             </div>
             <div class="col-sm-12" style="margin-top:10px">
              
                  <input id="float-input" class="input-field" [(ngModel)]="password"  type="password" placeholder="Enter Password"> 
                
             </div>
          </div>
            
          <!-- <div class="row" style="margin-top: 12px;">
            <div class="col-sm-6"><a href="">Forgot Password ?</a></div>
            <div class="col-sm-6"><a href="" class="text-lg-right">Reset Password</a></div>         
          </div> -->
          <div class="row mt-4">
            <div class="col-sm-6">
              <button type="button" class="btn btn-primary" style="margin-left: 30px !important;min-width:120px;" (click)="logIn()">Login</button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-secondary" style="margin-left: 0px !important; min-width:120px;">Register</button>
            </div>
          </div>
        
    </div>
  </div>
  <div *ngIf="isLoading" class="loading"></div>