<!-- <mat-toolbar>
  <p class="header-text d-sm-block" style="margin-top:5%">Umbra - Social Distancing</p>
</mat-toolbar> -->

<router-outlet></router-outlet>

<!-- <ion-footer style="position: fixed;bottom:0px">
  <ion-toolbar text-center="">
    <ion-buttons style="background-color: #204486;">
      <button class="footer-button" [routerLink]="['/umbra/home']" routerLinkActive="active" ion-button>
        <ion-icon name="home"></ion-icon>
      </button>
      <button class="footer-button" [routerLink]="['/umbra/cart']" routerLinkActive="active" ion-button>
        <ion-icon name="cart"></ion-icon>
        <span class="badge" *ngIf="getCartCount() != 0">{{ getCartCount() }}</span>
      </button>
      <button class="footer-button" [routerLink]="['/umbra/chatbot']" routerLinkActive="active" ion-button>
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
      <button class="footer-button" [routerLink]="['/umbra/social-distancing']" routerLinkActive="active" ion-button>
        <ion-icon name="timer-outline"></ion-icon>
      </button>
      <button class="footer-button" [routerLink]="['/umbra/profile']" routerLinkActive="active" ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->