  
  <div class="main-panel p-2 mt-2" >
    <h5 style="font-weight: bold;" class="mt-3 animate__animated animate__slideInDown animate__delay-2s">
      My Appointments
    <hr>
    </h5>

    <h6 class="animate__animated animate__slideInDown animate__delay-2s greet-msg">
      
    </h6>


    <div class="col-10 offset-1 mt-3 p-3 rounded text-center font-12 
    animate__animated animate__zoomInDown animate__delay-1s">
      <div class="col">
        <p class="small-text">Apollo Hospital Pune | <span class="text-success">11:30 AM</span></p>
      </div>
      <div class="col">
        <button class="btn btn-sm btn-primary mt-2">Get Directions</button>
      </div>
    
    </div>
  


    

  </div>