.rounded{
    border-radius: 14px;
    background-color: #e6e6e6;
    p{
        margin-bottom: 0px;
    }
    height: auto;
}

hr{
    margin-top: 0px !important;
    margin-bottom: 0.5rem !important;
  }

.small-text{
    font-size: 12px;
}

.main-panel {
    margin: -15px 20px 20px 20px;
  }