.one img {
    height: 40vh;
    width: 100%;
}
.second {
    background-color: #f1f1f1;
}

.third {
    background-color: #f1f1f1;
    border-bottom: 1px solid rgb(185, 182, 182);
}
.fourth {
    background-color: #f1f1f1;
    border: botom 1px solid rgb(185, 182, 182);
}

.Name {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.8em;
    border-bottom: 1px solid rgb(185, 182, 182);

}
.minor {
    color: grey;
}
.para {
    font-weight: bold;
    font-size: 1.3em;
}
.para-2 {
    font-weight: 700;
    font-size: 1.1em;
}
.fifth img {
    margin: 15px auto 0;
    height: 20vh;
}
