<div class="col-xl-12 col-lg-12 mb-4">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Entrance Video</h6>
            <a class="m-0 float-right btn btn-danger btn-sm" href="#">Get Insiigts <i
                    class="fas fa-chevron-right"></i></a>
        </div>
        <video autoplay style="padding: 20px;">
            <source src="assets/videos/sd.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>